<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost</title>

    <style>
        button{
            height: 70px; 
            width: 200px;
            font-size: 30px;
        }
    </style>
</head>
<body style="margin-top: 10%; font-size: 40px; background-color: rgb(168, 200, 228);">
    <center>
    Sorry to see...
    <br>
    Unable to find the right answer
    <br>
    <br>
    <a href="../../selectsub">
    <button class="restart">Play Again</button></a></center>
</body>
</html>