{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Signup</title>
    <link rel="stylesheet" href="{% static login.css %}">
</head>

<body>
    <center>
        <div>
            <div class="img"></div>
            <div class="content">
                {% if msg %}
                <div style="color: red;">*{{msg}}</div>
                {% endif %}
                <form action="confirmsignup" method="POST"> {% csrf_token %}
                    <p class="Signup" name="Signup">Signup</p>

                    <p class="username">Username</p>
                    <input type="text" name="username">
                    <br>
                    <p class="email">Email</p>
                    <input type="text" name="email">
                    <br>
                    <p class="password">Password</p>
                    <input type="password" name="password">
                    <br>
                    <p class="confpass">Confirm password</p>
                    <input type="password" name="confpass">
                    <br>
                    <button class="submit">Submit</button>
                </form>
            </div>
        </div>
    </center>
</body>

</html>